.progress-wrap {
    position: fixed;
    display: block;
    cursor: pointer;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
}

.progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrap::after {
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    text-align: center;
    position: absolute;
    cursor: pointer;
    font-family: 'icomoon';
}

.progress-wrap svg path {
    fill: none;
}

.progress-wrap svg.progress-circle path {
    box-sizing: border-box;
}